<%= render file: 'dashboard/dashboard' %>
<div class="row">
  <div class="col-lg-12">
    <%= link_to raw("<button type='button' class='btn btn-primary'>Adicionar</button>"), new_plate_accompaniment_path %>
    <div class="panel"></div>
    <section class="panel">
      <header class="panel-heading">
          Acompanhamentos
          <% if @term %>
            <div class="pull-right">
              <%= link_to raw("<i class='fa fa-times'></i>"), plate_accompaniments_path, :class => 'btn btn-xs btn-shadow btn-danger tooltips', 'data-placement': 'top', title: 'Remover termo da pesquisa' %>
            </div>
          <% end %>
      </header>
      <div class="panel-body">
        <div class="pull-right">
            <%= form_tag(plate_accompaniments_path, method: 'GET') do -%>
              <input type="text" value="<%= @term %>" name="term" class="form-control search" placeholder="Digite o termo...">
            <% end %>
        </div>
        <section id="unseen">
          <table class="table table-bmoduleed table-striped table-condensed">
            <thead>
              <tr>
                                  <th>Nome</th>
                                <th colspan='3'>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @plate_accompaniments.each do |plate_accompaniment| %>
                <tr>
                                      <td><%= plate_accompaniment.name %></td>
                                    <td>
                    <%= link_to raw("<i class='fa fa-eye'></i>"), plate_accompaniment, :class => 'btn btn-primary tooltips', 'data-placement': 'top', title: 'Visualizar' %>
                    <%= link_to raw("<i class='fa fa-pencil'></i>"), edit_plate_accompaniment_path(plate_accompaniment), :class => 'btn btn-info tooltips', 'data-placement': 'top', title: 'Editar' %>
                    <%= link_to raw("<i class='fa fa-trash-o'></i>"), '#delete_plate_accompaniment_'+plate_accompaniment.id.to_s, :class => 'btn btn-danger tooltips', :'data-toggle' => 'modal', 'data-placement': 'top', title: 'Deletar'  %>
                  </td>
                </tr>
                <div class="modal fade modal-dialog-center in" id="delete_plate_accompaniment_<%= plate_accompaniment.id.to_s %>"
                  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog ">
                  <div class="modal-content-wrap">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Remover Acompanhamento</h4>
                      </div>
                      <div class="modal-body">
                        <div class="text-center">
                          Deseja Realmente Remover o Acompanhamento
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="pull-left">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                        </div>
                        <%= link_to raw("Confirmar"), plate_accompaniment, :class => 'btn btn-primary', :'data-method' => 'delete' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end -%>
            </tbody>
          </table>
          <div class="apple_pagination">
              <div class="page_info">
                  <%= page_entries_info @plate_accompaniments %>
              </div>
              <%= will_paginate @plate_accompaniments %>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>