<div class="row">
  <div class="col-lg-12">    
    <%= link_to raw("<button type='button' class='btn btn-primary'>Adicionar Rating de Chefe</button>"), new_chef_rating_path %>
    <div class="panel"></div>
    <section class="panel">
      <header class="panel-heading">
          Rating de Chefes
          <% if @term %>
            <div class="pull-right">
              <%= link_to raw("<i class='fa fa-times'></i>"), chef_ratings_path, :class => 'btn btn-xs btn-shadow btn-danger tooltips', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Remover termo da pesquisa' %>
            </div>
          <% end %>
      </header>
      <div class="panel-body">
        <div class="pull-right">
            <%= form_tag(chef_ratings_path, method: 'GET') do -%>
                <input type="text" value=""name="term" class="form-control search" placeholder="Digite o termo...">
            <% end %>
        </div>
        <section id="unseen">
          <table class="table table-bmoduleed table-striped table-condensed">
            <thead>
              <tr>
                                  <th>Cliente</th>
                                  <th>Chefe</th>
                                  <th>Score</th>
                                <th colspan='3'>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @chef_ratings.each do |chef_rating| %>
                <tr>
                                      <td><%= chef_rating.client.name %></td>
                                      <td><%= chef_rating.chef.name %></td>
                                      <td><%= chef_rating.score %></td>
                                    <td>
                    <%= link_to raw("<i class='fa fa-eye'></i>"), chef_rating, :class => 'btn btn-primary tooltips', 'data-placement': 'top', title: 'Visualizar' %>
                    <%= link_to raw("<i class='fa fa-pencil'></i>"), edit_chef_rating_path(chef_rating), :class => 'btn btn-info tooltips', 'data-placement': 'top', title: 'Editar' %>
                    <%= link_to raw("<i class='fa fa-trash-o '></i>"), '#delete_chef_rating_'+chef_rating.id.to_s, :class => 'btn btn-danger tooltips', 'data-placement': 'top', title: 'Deletar', :'data-toggle' => 'modal'  %>
                  </td>
                </tr>
                <div class="modal fade modal-dialog-center in" id="delete_chef_rating_<%= chef_rating.id.to_s %>"
                  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog ">
                  <div class="modal-content-wrap">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Remover Rating de Chefe</h4>
                      </div>
                      <div class="modal-body">
                        <div class="text-center">
                          Deseja Realmente Remover o Rating de Chefe
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="pull-left">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                        </div>
                        <%= link_to raw("Confirmar"), chef_rating, :class => 'btn btn-primary', :'data-method' => 'delete' %>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              <% end -%>
            </tbody>
          </table>
          <div class="apple_pagination">
              <div class="page_info">
                  <%= page_entries_info @chef_ratings %>
              </div>
              <%= will_paginate @chef_ratings %>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>