<p id="notice"><%= notice %></p>

<h1>Listing Modules Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modules_categories.each do |modules_category| %>
      <tr>
        <td><%= modules_category.name %></td>
        <td><%= modules_category.icon %></td>
        <td><%= link_to 'Show', modules_category %></td>
        <td><%= link_to 'Edit', edit_modules_category_path(modules_category) %></td>
        <td><%= link_to 'Destroy', modules_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modules category', new_modules_category_path %>
