<div class="col-lg-12">
    <%= link_to raw("<button type='button' class='btn btn-default'>Voltar</button>"), entities_path %>
    <div class="panel"></div>
  <section class="panel">
      <div class="panel-heading">
          <div class="panel-title">Detalhes</div>
      </div>
      <div class="panel-body form-horizontal">
          <div class="form-group">
              <label for="number" class="control-label col-lg-3">Categoria do Módulo</label>
              <div class="col-lg-9">
                  <label for="number" class="form-control-static"><%= @entity.modules_category.name %></label>
              </div>
          </div>
          <div class="form-group">
              <label for="number" class="control-label col-lg-3">Nome</label>
              <div class="col-lg-9">
                  <label for="number" class="form-control-static"><%= @entity.name %></label>
              </div>
          </div>
          <div class="form-group">
              <label for="number" class="control-label col-lg-3">Slug</label>
              <div class="col-lg-9">
                  <label for="number" class="form-control-static"><%= @entity.slug %></label>
              </div>
          </div>
          <div class="form-group">
              <label for="number" class="control-label col-lg-3">Controlador</label>
              <div class="col-lg-9">
                  <label for="number" class="form-control-static"><%= @entity.controller %></label>
              </div>
          </div>
          <div class="form-group">
              <label for="number" class="control-label col-lg-3">DEV?</label>
              <div class="col-lg-9">
                  <label for="number" class="form-control-static"><%= @entity.is_dev ? 'Sim' : '
                  Não' %></label>
              </div>
          </div>
      </div>
  </section>
</div>