<div class="row">
    <div class="col-lg-12">
        <%= link_to raw("<button type='button' class='btn btn-primary'>Adicionar</button>"), new_users_admin_path %>
        <div class="panel"></div>
        <section class="panel">
            <header class="panel-heading">
                Usuários
                  <% if @term %>
                    <div class="pull-right">
                      <%= link_to raw("<i class='fa fa-times'></i>"), users_admin_index_path, :class => 'btn btn-xs btn-shadow btn-danger tooltips', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Remover termo da pesquisa' %>
                    </div>
                  <% end %>
            </header>
            <div class="panel-body">
                <div class="pull-right">
                    <%= form_tag(users_admin_index_path, method: 'GET') do -%>
                        <input type="text" value="<%= @term %>"name="term" class="form-control search" placeholder="Digite o termo...">
                    <% end %>
                </div>
                <section id="unseen">
                    <table class="table table-bmoduleed table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Perfil</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th colspan='3'>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                                <tr>
                                  <td><%= user.role.name %></td>
                                  <td><%= user.name %></td>
                                  <td><%= user.email %></td>                                  
                                  <td>
                                    <%= link_to raw("<i class='fa fa-eye'></i>"), users_admin_path(user), :class => 'btn btn-primary tooltips',  'data-placement': 'top', title: 'Visualizar' %>
                                    <%= link_to raw("<i class='fa fa-pencil'></i>"), edit_users_admin_path(user), :class => 'btn btn-info tooltips', 'data-placement': 'top', title: 'Editar' %>
                                    <%= link_to raw("<i class='fa fa-trash-o'></i>"), '#delete_user_'+user.id.to_s, :class => 'btn btn-danger tooltips', :'data-toggle' => 'modal', 'data-placement': 'top', title: 'Deletar'  %>
                                    <%= put_edit_all_users_password_action user %>
                                    </td>
                                </tr>
                                <%= render partial:'change_password_action', locals: { user: user } %>
                                <div class="modal fade modal-dialog-center in" id="delete_user_<%=user.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"><div class="modal-backdrop fade in" ></div>
                                        <div class="modal-dialog ">
                                            <div class="modal-content-wrap">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title">Remover Usuário</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="text-center">
                                                        Deseja Realmente Remover o Usuário?
                                                      </div>
                                                    </div>
                                                    <div class="modal-footer">                              
                                                        <div class="pull-left">
                                                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                                                        </div>
                                                        <%= link_to "Confirmar",  users_admin_path(user), :class => 'btn btn-primary', :'data-method' => 'delete'  %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <% end %>
                        </tbody>
                    </table>                     
                    <div class="apple_pagination">
                        <div class="page_info">
                            <%= page_entries_info @users %>
                        </div>
                      <%= will_paginate @users %>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
