<!-- wrap-content -->
<div id="home-page" class="wrap-content bg-white-3">
  <!-- container-fluid -->
  <div class="container-fluid no-padd-xs">
    <!-- title -->
    <div class="title s-center clearfix">
      <h2>Pratos Principais</h2>
      <h4>A partir da nossa cozinha, prontos para aquecer</h4>
    </div>
    <!-- title -->
  </div>
  <!-- container-fluid -->

  <div class="wrap-list container-fluid">
    <!-- Row -->
    <div class="row">

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://40.media.tumblr.com/f5a427c9d286538d53856c82cef0f916/tumblr_o4ckhx2YY61st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

       <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="cebola,com soja,vegetariano">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://41.media.tumblr.com/9deddbbc8cf2f4cf88ea02b99e0e1834/tumblr_o4vgsmsHmv1st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://40.media.tumblr.com/f5a427c9d286538d53856c82cef0f916/tumblr_o4ckhx2YY61st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

       <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="cebola,com soja,vegetariano">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://41.media.tumblr.com/9deddbbc8cf2f4cf88ea02b99e0e1834/tumblr_o4vgsmsHmv1st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://40.media.tumblr.com/f5a427c9d286538d53856c82cef0f916/tumblr_o4ckhx2YY61st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

       <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="cebola,com soja,vegetariano">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://41.media.tumblr.com/9deddbbc8cf2f4cf88ea02b99e0e1834/tumblr_o4vgsmsHmv1st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://40.media.tumblr.com/f5a427c9d286538d53856c82cef0f916/tumblr_o4ckhx2YY61st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

       <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="cebola,com soja,vegetariano">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://41.media.tumblr.com/9deddbbc8cf2f4cf88ea02b99e0e1834/tumblr_o4vgsmsHmv1st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

    </div>
    <!-- Row -->
  </div>

  <!-- container-fluid -->
  <div class="container-fluid no-padd-xs">
    <!-- title -->
    <div class="title s-center clearfix">
      <h2>Entradas</h2>
    </div>
    <!-- title -->
  </div>
  <!-- container-fluid -->

  <div class="wrap-list container-fluid">
    <!-- Row -->
    <div class="row">

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://41.media.tumblr.com/d34fc9554672d503def5698f36aa8e65/tumblr_o5dddz4HnB1st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://40.media.tumblr.com/d3f824452b3c39dbb81fe6055d0b1227/tumblr_o4cki5FkK41st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

       <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://41.media.tumblr.com/d34fc9554672d503def5698f36aa8e65/tumblr_o5dddz4HnB1st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12" data-filter="luiz paulo valenca,pimenta,sem gluten">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://40.media.tumblr.com/d3f824452b3c39dbb81fe6055d0b1227/tumblr_o4cki5FkK41st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4><%= link_to "Nome do Prato", about_path %></h4>
        </div>
        <div class="wrap-price-buy">
          <div class="price-show"><i>R$</i><span data-price="9.90">9,90</span></div>
          <div class="wrap-button-buy">
            <button class="less-product">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="more-product">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Adicionar</span>
            </button>
          </div>
        </div>
      </div>
      <!-- list-item -->

    </div>
    <!-- Row -->
  </div>

</div>
<!-- wrap-content -->

