 <!--breadcrumbs start-->
<!--  <div class="breadcrumbs">
     <div class="container">
         <div class="row">
             <div class="col-lg-4 col-sm-4">
                 <h1>Portfolio</h1>
             </div>
             <div class="col-lg-8 col-sm-8">
                 <ol class="breadcrumb pull-right">
                     <li><a href="#">Home</a></li>
                     <li><a href="#">Pages</a></li>
                     <li class="active">Portfolio</li>
                 </ol>
             </div>
         </div>
     </div>
 </div> -->
 <!--breadcrumbs end-->

<!--container start-->
<div class="container" style="background:#ccc;">
    <!--portfolio start-->
    <div class="gallery-container">
        <ul id="filters" class="list-unstyled">
            <li><a href="#" data-filter="*"> All</a></li>
            <li><a href="#" data-filter=".design">Design</a></li>
            <li><a href="#" data-filter=".development">Development</a></li>
            <li><a href="#" data-filter=".frontend, .dashboard">Frontend</a></li>
            <li><a href="#" data-filter=".dashboard">Dashboard</a></li>
            <li><a href="#" data-filter=".flat:not(.development)">Flat</a></li>
        </ul>
        <div id="gallery" class="col-4">

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element dashboard development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>

            <div class="element design development item view view-tenth" >
            	<div data-zlname="reverse-effect">
                    <img src=" <%=image_path('works/img1.jpg') %>" alt="" />
                    <div class="mask">
                    </div>
            	</div>
            	<div class="row" style="border-style: solid; border-width: 0px 0px 2px 0px; border-color: #2095DD; margin: 0px; background-color: #E2E0E1; padding-top: 10px; padding-bottom: 10px">
	            	<div class="col-sm-8 text-left" style="padding-left: 5px;">
	            		<span><strong>Chef:</strong> Eduardo da Fonte<br></span>
	            		<span><strong>Preço:</strong> R$ 28,90</span>
	            	</div>
	            	<div class="col-sm-4 text-right" style="padding-right: 5px;">
	            		<span><strong>Qtd:</strong> 10</span>
	            	</div>
            	</div>
            </div>
        </div>
    </div>
    <!--portfolio end-->
</div>
<!--container end-->

