<div class="col-lg-12">
  <%= form_for(@request) do |f| %>  
  <%= link_to raw("<button type='button' class='btn btn-default'>Voltar</button>"), requests_path %>
  <div class="panel"></div>
  <section class="panel">
    <header class="panel-heading">
       Pedido
    </header>
    <% if @request.errors.any? %>
      <div class="alert alert-danger">
        <% @request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div class="panel-body">
                  <div class="form-group">
            <%= f.label 'Cliente*' %><br>
            <%= f.select :client_id, @clients.collect {|client| [ client.name, client.id]}, {:prompt => 'Selecione o Cliente'}, {:class => 'form-control'} %>
          </div>
                  <div class="form-group">
            <%= f.label 'Endereço do Cliente*' %><br>
             <%= f.select :client_address_id, [], {:prompt => 'Selecione o Endereço'}, {:class => 'form-control', 'data-selected' => @request.client_address_id} %>
          </div>
                  <div class="form-group">
            <%= f.label 'Código de Pagamento*' %><br>
            <%= f.text_field :payment_code, :class => 'form-control' %>
          </div>
                  <div class="form-group">
            <%= f.label 'Data do Pedido*' %><br>
            <%= f.text_field :request_date, :value => get_formated_date(@request.request_date), :class => 'form-control input-medium default-date-picker' %>
          </div>
                  <div class="form-group">
            <%= f.label 'Data da Entrega*' %><br>
            <%= f.text_field :delivery_date, :value => get_formated_date(@request.delivery_date), :class => 'form-control input-medium default-date-picker' %>
          </div>
                  <div class="form-group">
            <%= f.label 'Janela da Entrega*' %><br>
            <%= f.select :delivery_window, @windows.collect {|window| [ (get_time_string window), (get_time_string window)]}, {:prompt => 'Selecione a Janela de Entrega'}, {:class => 'form-control'} %>
          </div>
            <div class="form-group">
            <%= f.label 'Status do Pedido*' %><br>
            <%= f.select :request_status_id, @statuses.collect {|status| [ status.name, status.id]}, {:prompt => 'Selecione o Status'}, {:class => 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label 'Pratos' %><br>
            <table class="table table-bmoduleed table-striped table-condensed" id="plates-table">
              <thead>
                <th>Prato</th>
                <th>Preço Un.</th>
                <th>Quantidade</th>
              </thead>
              <tbody>
                <% @daily_plates.each do |p| %>
                  <tr>
                    <td><%= p.title %></td>
                    <td>R$ <%= get_plate_price(@request.id, p) %></td>
                    <td><input class="form-control" type="number" name="request_plates[quantity][]" value="<%= get_plate_request_quantity(@request.id, p.id) %>"></td>
                    <input type="hidden" value="<%= p.id %>" name="request_plates[id][]" >
                    <input type="hidden" value="<%= p.price %>" name="request_plates[price][]" >
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
    </div>
  </section>
  <div class="form-group">
      <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
  </div>
  <% end -%>
</div>

<script type="text/javascript">
  window.addEventListener('load', function(){
    var StartDate = new Date();
    var EndDate = new Date();
    var range = <%= get_order_date_range %>;
    EndDate.setDate(EndDate.getDate() + range);
    $('[name="request[delivery_date]"]').datepicker('setStartDate', StartDate);
    $('[name="request[delivery_date]"]').datepicker('setEndDate', EndDate);

    $('[name="request[client_id]"]').on('change', function(){
        $.ajax({
          url: '/admin/addresses/get_client_addresses/' + $('[name="request[client_id]"] option:selected').val(),
          type: 'GET',
          dataType: 'json'
        })
        .done(function(data){
          $('[name="request[client_address_id]"]').empty();
          $('[name="request[client_address_id]"]').append('<option value="">Selecione o Endereço</option>');
          for (var i = 0; i < data.length; i++) {
            var selected_text = '';
            if ($('[name="request[client_address_id]"]').data('selected') == data[i][1]) selected_text = 'selected';
            $('[name="request[client_address_id]"]').append('<option value=' + data[i][1] + ' selected="' + selected_text + '" >' + data[i][0] + '</option>');
          }
        })
        .fail(function(){
          console.log('erro');
        });
    }).trigger('change');


    $('[name="request[delivery_date]"]').on('change', function(){
      var deliveryDate = $('[name="request[delivery_date]"]').val().split('/');
      deliveryDate = deliveryDate[2] + '-' + deliveryDate[1] + '-' + deliveryDate[0];
      $.ajax({
        url: '/admin/daily_menus/get_plates_from_date/' + deliveryDate,
        type: 'GET',
        dataType: 'json'
      })
      .done(function(data) {
        $('#plates-table tbody').empty();
        for (var i = 0; i < data.length; i++) {
          $('#plates-table tbody').append('<tr><td>' + data[i][0] + '</td><td>' + data[i][1] + '</td><td>' + '<input class="form-control" type="number" name="request_plates[quantity][]">' + '</td></tr>')
          $('#plates-table tbody').append('<input type="hidden" value="' + data[i][2] + '" name="request_plates[id][]" >');
          $('#plates-table tbody').append('<input type="hidden" value="' + data[i][1] + '" name="request_plates[price][]" >');
        }
      })
      .fail(function() {
        console.log('get_plates_from_date -> error');
      });
    });
  });
</script>