<div class="row">
  <div class="col-lg-12">    
    <%= link_to raw("<button type='button' class='btn btn-primary'>Adicionar Window request</button>"), new_window_request_path %>
    <div class="panel"></div>
    <section class="panel">
      <header class="panel-heading">
          Window Requests
          <% if @term %>
            <div class="pull-right">
              <%= link_to raw("<i class='fa fa-times'></i>"), window_requests_path, :class => 'btn btn-xs btn-shadow btn-danger tooltips', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Remover termo da pesquisa' %>
            </div>
          <% end %>
      </header>
      <div class="panel-body">
        <div class="pull-right">
            <%= form_tag(window_requests_path, method: 'GET') do -%>
                <input type="text" value=""name="term" class="form-control search" placeholder="Digite o termo...">
            <% end %>
        </div>
        <section id="unseen">
          <table class="table table-bmoduleed table-striped table-condensed">
            <thead>
              <tr>
                                  <th>Initial time</th>
                                  <th>Final time</th>
                                <th colspan='3'>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @window_requests.each do |window_request| %>
                <tr>
                                      <td><%= window_request.initial_time %></td>
                                      <td><%= window_request.final_time %></td>
                                    <td>
                    <%= link_to raw("<i class='fa fa-eye'></i>"), window_request, :class => 'btn btn-primary tooltips', 'data-placement': 'top', title: 'Visualizar' %>
                    <%= link_to raw("<i class='fa fa-pencil'></i>"), edit_window_request_path(window_request), :class => 'btn btn-info tooltips', 'data-placement': 'top', title: 'Editar' %>
                    <%= link_to raw("<i class='fa fa-trash-o '></i>"), '#delete_window_request_'+window_request.id.to_s, :class => 'btn btn-danger tooltips', 'data-placement': 'top', title: 'Deletar', :'data-toggle' => 'modal'  %>
                  </td>
                </tr>
                <div class="modal fade modal-dialog-center in" id="delete_window_request_<%= window_request.id.to_s %>"
                  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"><div class="modal-backdrop fade in" style="height: 749px;">
                </div>
                <div class="modal-dialog ">
                  <div class="modal-content-wrap">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Remover Window Request</h4>
                      </div>
                      <div class="modal-body">
                        <div class="text-center">
                          Deseja Realmente Remover o Window Request
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="pull-left">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                        </div>
                        <%= link_to raw("Confirmar"), window_request, :class => 'btn btn-primary', :'data-method' => 'delete' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end -%>
            </tbody>
          </table>
          <div class="apple_pagination">
              <div class="page_info">
                  <%= page_entries_info @window_requests %>
              </div>
              <%= will_paginate @window_requests %>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>