<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @permission.entity %>
</p>

<p>
  <strong>Route:</strong>
  <%= @permission.route %>
</p>

<p>
  <strong>Action name:</strong>
  <%= @permission.action_name %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
