<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin'}) do |f| %>      
    <div class="text-center">
      <%= image_tag("logo.png", :alt => "logo miochef", width: "120", heigth: "120", class: "form-signin-heading") %>
    </div> 
    <div class="login-wrap">
      <%= text_field_tag "user[email]", nil, id: "user_email", class: "form-control", placeholder: 'E-mail', autofocus: true %>
      <%= password_field_tag "user[password]", nil, id: "user_password", class: "form-control", placeholder: "Senha", autofocus: true, autocomplete: "off" %>
      <label class="checkbox">
          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
          <% end -%> 
          Lembrar-me
          <!-- <span class="pull-right">
              <a data-toggle="modal" href="#myModal"> Esqueceu a Senha?</a>
          </span> -->
      </label>
      <button class="btn btn-lg btn-login btn-block" type="submit">Entrar</button>            
    </div> 
  <% end %>
</div>