<div class="col-lg-12">
  <%%= form_for(@<%= singular_table_name %>) do |f| %>  
  <%%= link_to raw("<button type='button' class='btn btn-default'>Voltar</button>"), <%= plural_table_name %>_path %>
  <div class="panel"></div>
  <section class="panel">
    <header class="panel-heading">
       <%=plural_table_name%>
    </header>
    <%% if @<%= singular_table_name %>.errors.any? %>
      <div class="alert alert-danger">
        <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
          <li><%%= message %></li>
        <%% end %>
      </div>
    <%% end %>
    <div class="panel-body">
        <% attributes.each do |attribute| -%>
          <div class="form-group">
            <%%= f.label :<%= attribute.column_name %> %><br>
            <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, :<%= "class => 'form-control'" %> %>
          </div>
        <% end -%>
    </div>
  </section>
  <div class="form-group">
      <%%= f.submit 'Salvar', :class => 'btn btn-primary' %>
  </div>
  <%% end -%>
</div>