<div class="col-lg-12">
    <%= form_tag(addresses_path, method: 'GET') do -%>
      <%= hidden_field_tag :chef_id, @chef ? @chef.id : chef.id, :class => 'form-control' %>
      <%= link_to raw("<button type='submit' class='btn btn-default'>Voltar</button>"), addresses_path %>
    <% end %>
  <div class="panel"></div>
  <section class="panel">
    <header class="panel-heading">
      Endereço do Chefe - <%= @chef ? @chef.name : chef.name %>
    </header>
    <% if @address.errors.any? %>
      <div class="alert alert-danger">
        <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div class="panel-body">
      <%= form_for(@address) do |f| %>  
          <%= hidden_field_tag :chef_id, @chef ? @chef.id : chef.id, :class => 'form-control' %>
          <div class="form-group">
            <%= f.label 'Logradouro*' %><br>
            <%= f.text_field :public_place, :class => 'form-control' %>
          </div>
                  <div class="form-group">
            <%= f.label 'Número*' %><br>
            <%= f.text_field :number, :class => 'form-control' %>
          </div>
                  <div class="form-group">
            <%= f.label 'Bairro*' %><br>
            <%= f.text_field :neighborhood, :class => 'form-control' %>
          </div>
                  <div class="form-group">
            <%= f.label 'Cidade*' %><br>
            <%= f.text_field :city, :class => 'form-control' %>
          </div>
                  <div class="form-group">
            <%= f.label 'Estado*' %><br>
            <%= f.text_field :state, :class => 'form-control' %>
          </div>
                  <div class="form-group">
            <%= f.label 'CEP*' %><br>
            <%= f.text_field :zip_code, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label 'Complemento*' %><br>
            <%= f.text_field :complement, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
          </div>
      <% end -%>
    </div>
  </section>
</div>