<div class="row">
  <div class="col-lg-12">
    <%= link_to raw("<button type='button' class='btn btn-default'>Voltar</button>"), chefs_path %>
    <div class="panel"></div>
    <section class="panel">
      <header class="panel-heading">
          Endereços do Chefe - <%= @chef.name %>
      </header>
      <div class="panel-body">
        <section id="unseen">
          <table class="table table-bmoduleed table-striped table-condensed">
            <thead>
              <tr>
                  <th>Logradouro</th>
                  <th>Número</th>
                  <th>Bairro</th>
                  <th>Cidade</th>
                  <th>Estado</th>
                  <th>CEP</th>
                  <th>Complemento</th>
                <th colspan='3'>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @addresses.each do |address| %>
                <% if address.main? %>
                  <tr class='success'>
                <% else %>
                  <tr>
                <% end %>
                  <td><%= address.public_place %></td>
                  <td><%= address.number %></td>
                  <td><%= address.neighborhood %></td>
                  <td><%= address.city %></td>
                  <td><%= address.state %></td>
                  <td><%= address.zip_code %></td>
                  <td><%= address.complement %></td>
                  <td>
                    <%= link_to raw("<i class='fa fa-pencil'></i>"), edit_chef_address_path(@chef, address), :class => 'btn btn-info' %>
                    <% if address.main? %>
                      <%= link_to raw("<i class='fa fa-check'></i>"), '#main_address_'+address.id.to_s, :class => 'btn btn-success tooltips', title: 'Endereço Principal'  %>
                    <% else %>
                      <%= link_to raw("<i class='fa fa-check'></i>"), '#main_address_'+address.id.to_s, :class => 'btn btn-danger tooltips', :'data-toggle' => 'modal', title: 'Tornar Principal'  %>
                    <% end %>
                    <%= link_to raw("<i class='fa fa-trash-o'></i>"), '#delete_address_'+address.id.to_s, :class => 'btn btn-danger', :'data-toggle' => 'modal'  %>
                  </td>
                </tr>
                <%= render partial: 'addresses/main_nomain_address_modal', locals: {address: address, chef_id: @chef.id } %>
                <div class="modal fade modal-dialog-center in" id="delete_address_<%= address.id.to_s %>"
                  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"><div class="modal-backdrop fade in" style="height: 749px;">
                </div>
                <div class="modal-dialog ">
                  <div class="modal-content-wrap">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Remover Endereço</h4>
                      </div>
                      <div class="modal-body">
                        <div class="text-center">
                          Deseja Realmente Remover o Endereço
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="pull-left">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                        </div>
                        <%= link_to raw("Confirmar"), chef_address_path(@chef, address), :class => 'btn btn-primary', :'data-method' => 'delete' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end -%>
            </tbody>
          </table>
        </section>
      </div>
    </section>
  </div>
</div>