<div class="col-lg-12">
  <a href="/addresses">
      <button type="button" class="btn btn-default">Voltar</button>
  </a>
  <div class="panel"></div>
	<section class="panel">
    <div class="panel-heading">
        <div class="panel-title">Detalhes</div>
    </div>
    <div class="panel-body form-horizontal">
    		      <div class="form-group">
          <label for="number" class="control-label col-lg-3">Chef</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.chef.name %></label>
          </div>
	      </div>
	    	      <div class="form-group">
          <label for="number" class="control-label col-lg-3">Public place</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.public_place %></label>
          </div>
	      </div>
	    	      <div class="form-group">
          <label for="number" class="control-label col-lg-3">Number</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.number %></label>
          </div>
	      </div>
	    	      <div class="form-group">
          <label for="number" class="control-label col-lg-3">Neighborhood</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.neighborhood %></label>
          </div>
	      </div>
	    	      <div class="form-group">
          <label for="number" class="control-label col-lg-3">City</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.city %></label>
          </div>
	      </div>
	    	      <div class="form-group">
          <label for="number" class="control-label col-lg-3">State</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.state %></label>
          </div>
	      </div>
	    	      <div class="form-group">
          <label for="number" class="control-label col-lg-3">Zip code</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.zip_code %></label>
          </div>
	      </div>
	    	      <div class="form-group">
          <label for="number" class="control-label col-lg-3">Complement</label>
          <div class="col-lg-9">
            <label for="number" class="form-control-static"><%= @address.complement %></label>
          </div>
	      </div>
	        </div>
  </section>
</div>