<div class="row">
    <div class="col-lg-12">
        <a href="/admin/roles/new">
            <button type="button" class="btn btn-primary">Adicionar</button>
        </a>
        <div class="pull-right">
            <%= form_tag('/admin/roles', method: 'GET') do -%>
                <input type="text" value="<%= @term %>" name="term" class="form-control search" placeholder="Digite o termo...">
            <% end %>
        </div>
        <div class="panel"></div>
        <section class="panel">
            <header class="panel-heading">
                Perfis
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bmoduleed table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Nome</th>                                
                                <th colspan='3'>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @roles.each do |role| %>
                                <tr>
                                  <td><%= role.name %></td>                                  
                                  <td>
                                    <%= link_to raw("<i class='fa fa-eye'></i>"), role, :class => 'btn btn-primary' %>
                                    <%= link_to raw("<i class='fa fa-pencil'></i>"), edit_role_path(role), :class => 'btn btn-info' %>
                                    <%= link_to raw("<i class='fa fa-trash-o'></i>"), '#delete_role_'+role.id.to_s, :class => 'btn btn-danger', :'data-toggle' => 'modal'  %>
                                    </td>
                                </tr>
                                <div class="modal fade modal-dialog-center in" id="delete_role_<%=role.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"><div class="modal-backdrop fade in" style="height: 749px;"></div>
                                        <div class="modal-dialog ">
                                            <div class="modal-content-wrap">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title">Remover Perfil</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="text-center">
                                                        Deseja Realmente Remover o Perfil?
                                                      </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="pull-left">
                                                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                                                        </div>
                                                        <a href="/roles/<%=role.id%>" class="btn btn-primary" data-method="delete">Confirmar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="apple_pagination">
                        <div class="page_info">
                            <%= page_entries_info @roles %>
                        </div>
                        <%= will_paginate @roles %>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
