<div class="col-lg-12">
<%= form_for(@country) do |f| %>
  <%= link_to raw("<button type='button' class='btn btn-default'>Voltar</button>"), countries_path %>
  <div class="panel"></div>
  <section class="panel">
    <header class="panel-heading">
          Países
    </header>
    <% if @country.errors.any? %>
      <div class="alert alert-danger">
        <% @country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div class="panel-body">
          <div class="form-group">
            <%= f.label "Nome*" %><br>
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "Iniciais*" %><br>
            <%= f.text_field :initials, :class => 'form-control' %>
          </div>
          <div class="form-group">
          
             <div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ad" %>
<span title="ad" class="flag-icon flag-icon-ad"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ae" %>
<span title="ae" class="flag-icon flag-icon-ae"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-af" %>
<span title="af" class="flag-icon flag-icon-af"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ag" %>
<span title="ag" class="flag-icon flag-icon-ag"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ai" %>
<span title="ai" class="flag-icon flag-icon-ai"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-al" %>
<span title="al" class="flag-icon flag-icon-al"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-am" %>
<span title="am" class="flag-icon flag-icon-am"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ao" %>
<span title="ao" class="flag-icon flag-icon-ao"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-aq" %>
<span title="aq" class="flag-icon flag-icon-aq"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ar" %>
<span title="ar" class="flag-icon flag-icon-ar"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-as" %>
<span title="as" class="flag-icon flag-icon-as"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-at" %>
<span title="at" class="flag-icon flag-icon-at"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-au" %>
<span title="au" class="flag-icon flag-icon-au"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-aw" %>
<span title="aw" class="flag-icon flag-icon-aw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ax" %>
<span title="ax" class="flag-icon flag-icon-ax"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-az" %>
<span title="az" class="flag-icon flag-icon-az"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ba" %>
<span title="ba" class="flag-icon flag-icon-ba"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bb" %>
<span title="bb" class="flag-icon flag-icon-bb"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bd" %>
<span title="bd" class="flag-icon flag-icon-bd"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-be" %>
<span title="be" class="flag-icon flag-icon-be"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bf" %>
<span title="bf" class="flag-icon flag-icon-bf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bg" %>
<span title="bg" class="flag-icon flag-icon-bg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bh" %>
<span title="bh" class="flag-icon flag-icon-bh"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bi" %>
<span title="bi" class="flag-icon flag-icon-bi"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bj" %>
<span title="bj" class="flag-icon flag-icon-bj"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bl" %>
<span title="bl" class="flag-icon flag-icon-bl"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bm" %>
<span title="bm" class="flag-icon flag-icon-bm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bn" %>
<span title="bn" class="flag-icon flag-icon-bn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bo" %>
<span title="bo" class="flag-icon flag-icon-bo"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bq" %>
<span title="bq" class="flag-icon flag-icon-bq"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-br" %>
<span title="br" class="flag-icon flag-icon-br"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bs" %>
<span title="bs" class="flag-icon flag-icon-bs"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bt" %>
<span title="bt" class="flag-icon flag-icon-bt"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bv" %>
<span title="bv" class="flag-icon flag-icon-bv"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bw" %>
<span title="bw" class="flag-icon flag-icon-bw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-by" %>
<span title="by" class="flag-icon flag-icon-by"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-bz" %>
<span title="bz" class="flag-icon flag-icon-bz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ca" %>
<span title="ca" class="flag-icon flag-icon-ca"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cc" %>
<span title="cc" class="flag-icon flag-icon-cc"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cd" %>
<span title="cd" class="flag-icon flag-icon-cd"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cf" %>
<span title="cf" class="flag-icon flag-icon-cf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cg" %>
<span title="cg" class="flag-icon flag-icon-cg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ch" %>
<span title="ch" class="flag-icon flag-icon-ch"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ci" %>
<span title="ci" class="flag-icon flag-icon-ci"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ck" %>
<span title="ck" class="flag-icon flag-icon-ck"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cl" %>
<span title="cl" class="flag-icon flag-icon-cl"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cm" %>
<span title="cm" class="flag-icon flag-icon-cm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cn" %>
<span title="cn" class="flag-icon flag-icon-cn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-co" %>
<span title="co" class="flag-icon flag-icon-co"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cr" %>
<span title="cr" class="flag-icon flag-icon-cr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cu" %>
<span title="cu" class="flag-icon flag-icon-cu"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cv" %>
<span title="cv" class="flag-icon flag-icon-cv"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cw" %>
<span title="cw" class="flag-icon flag-icon-cw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cx" %>
<span title="cx" class="flag-icon flag-icon-cx"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cy" %>
<span title="cy" class="flag-icon flag-icon-cy"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-cz" %>
<span title="cz" class="flag-icon flag-icon-cz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-de" %>
<span title="de" class="flag-icon flag-icon-de"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-dj" %>
<span title="dj" class="flag-icon flag-icon-dj"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-dk" %>
<span title="dk" class="flag-icon flag-icon-dk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-dm" %>
<span title="dm" class="flag-icon flag-icon-dm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-do" %>
<span title="do" class="flag-icon flag-icon-do"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-dz" %>
<span title="dz" class="flag-icon flag-icon-dz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ec" %>
<span title="ec" class="flag-icon flag-icon-ec"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ee" %>
<span title="ee" class="flag-icon flag-icon-ee"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-eg" %>
<span title="eg" class="flag-icon flag-icon-eg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-eh" %>
<span title="eh" class="flag-icon flag-icon-eh"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-er" %>
<span title="er" class="flag-icon flag-icon-er"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-es" %>
<span title="es" class="flag-icon flag-icon-es"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-et" %>
<span title="et" class="flag-icon flag-icon-et"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-fi" %>
<span title="fi" class="flag-icon flag-icon-fi"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-fj" %>
<span title="fj" class="flag-icon flag-icon-fj"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-fk" %>
<span title="fk" class="flag-icon flag-icon-fk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-fm" %>
<span title="fm" class="flag-icon flag-icon-fm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-fo" %>
<span title="fo" class="flag-icon flag-icon-fo"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-fr" %>
<span title="fr" class="flag-icon flag-icon-fr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ga" %>
<span title="ga" class="flag-icon flag-icon-ga"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gb" %>
<span title="gb" class="flag-icon flag-icon-gb"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gd" %>
<span title="gd" class="flag-icon flag-icon-gd"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ge" %>
<span title="ge" class="flag-icon flag-icon-ge"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gf" %>
<span title="gf" class="flag-icon flag-icon-gf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gg" %>
<span title="gg" class="flag-icon flag-icon-gg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gh" %>
<span title="gh" class="flag-icon flag-icon-gh"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gi" %>
<span title="gi" class="flag-icon flag-icon-gi"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gl" %>
<span title="gl" class="flag-icon flag-icon-gl"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gm" %>
<span title="gm" class="flag-icon flag-icon-gm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gn" %>
<span title="gn" class="flag-icon flag-icon-gn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gp" %>
<span title="gp" class="flag-icon flag-icon-gp"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gq" %>
<span title="gq" class="flag-icon flag-icon-gq"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gr" %>
<span title="gr" class="flag-icon flag-icon-gr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gs" %>
<span title="gs" class="flag-icon flag-icon-gs"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gt" %>
<span title="gt" class="flag-icon flag-icon-gt"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gu" %>
<span title="gu" class="flag-icon flag-icon-gu"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gw" %>
<span title="gw" class="flag-icon flag-icon-gw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-gy" %>
<span title="gy" class="flag-icon flag-icon-gy"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-hk" %>
<span title="hk" class="flag-icon flag-icon-hk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-hm" %>
<span title="hm" class="flag-icon flag-icon-hm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-hn" %>
<span title="hn" class="flag-icon flag-icon-hn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-hr" %>
<span title="hr" class="flag-icon flag-icon-hr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ht" %>
<span title="ht" class="flag-icon flag-icon-ht"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-hu" %>
<span title="hu" class="flag-icon flag-icon-hu"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-id" %>
<span title="id" class="flag-icon flag-icon-id"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ie" %>
<span title="ie" class="flag-icon flag-icon-ie"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-il" %>
<span title="il" class="flag-icon flag-icon-il"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-im" %>
<span title="im" class="flag-icon flag-icon-im"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-in" %>
<span title="in" class="flag-icon flag-icon-in"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-io" %>
<span title="io" class="flag-icon flag-icon-io"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-iq" %>
<span title="iq" class="flag-icon flag-icon-iq"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ir" %>
<span title="ir" class="flag-icon flag-icon-ir"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-is" %>
<span title="is" class="flag-icon flag-icon-is"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-it" %>
<span title="it" class="flag-icon flag-icon-it"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-je" %>
<span title="je" class="flag-icon flag-icon-je"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-jm" %>
<span title="jm" class="flag-icon flag-icon-jm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-jo" %>
<span title="jo" class="flag-icon flag-icon-jo"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-jp" %>
<span title="jp" class="flag-icon flag-icon-jp"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ke" %>
<span title="ke" class="flag-icon flag-icon-ke"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-kg" %>
<span title="kg" class="flag-icon flag-icon-kg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-kh" %>
<span title="kh" class="flag-icon flag-icon-kh"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ki" %>
<span title="ki" class="flag-icon flag-icon-ki"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-km" %>
<span title="km" class="flag-icon flag-icon-km"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-kn" %>
<span title="kn" class="flag-icon flag-icon-kn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-kp" %>
<span title="kp" class="flag-icon flag-icon-kp"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-kr" %>
<span title="kr" class="flag-icon flag-icon-kr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-kw" %>
<span title="kw" class="flag-icon flag-icon-kw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ky" %>
<span title="ky" class="flag-icon flag-icon-ky"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-kz" %>
<span title="kz" class="flag-icon flag-icon-kz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-la" %>
<span title="la" class="flag-icon flag-icon-la"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-lb" %>
<span title="lb" class="flag-icon flag-icon-lb"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-lc" %>
<span title="lc" class="flag-icon flag-icon-lc"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-li" %>
<span title="li" class="flag-icon flag-icon-li"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-lk" %>
<span title="lk" class="flag-icon flag-icon-lk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-lr" %>
<span title="lr" class="flag-icon flag-icon-lr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ls" %>
<span title="ls" class="flag-icon flag-icon-ls"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-lt" %>
<span title="lt" class="flag-icon flag-icon-lt"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-lu" %>
<span title="lu" class="flag-icon flag-icon-lu"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-lv" %>
<span title="lv" class="flag-icon flag-icon-lv"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ly" %>
<span title="ly" class="flag-icon flag-icon-ly"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ma" %>
<span title="ma" class="flag-icon flag-icon-ma"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mc" %>
<span title="mc" class="flag-icon flag-icon-mc"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-md" %>
<span title="md" class="flag-icon flag-icon-md"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-me" %>
<span title="me" class="flag-icon flag-icon-me"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mf" %>
<span title="mf" class="flag-icon flag-icon-mf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mg" %>
<span title="mg" class="flag-icon flag-icon-mg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mh" %>
<span title="mh" class="flag-icon flag-icon-mh"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mk" %>
<span title="mk" class="flag-icon flag-icon-mk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ml" %>
<span title="ml" class="flag-icon flag-icon-ml"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mm" %>
<span title="mm" class="flag-icon flag-icon-mm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mn" %>
<span title="mn" class="flag-icon flag-icon-mn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mo" %>
<span title="mo" class="flag-icon flag-icon-mo"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mp" %>
<span title="mp" class="flag-icon flag-icon-mp"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mq" %>
<span title="mq" class="flag-icon flag-icon-mq"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mr" %>
<span title="mr" class="flag-icon flag-icon-mr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ms" %>
<span title="ms" class="flag-icon flag-icon-ms"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mt" %>
<span title="mt" class="flag-icon flag-icon-mt"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mu" %>
<span title="mu" class="flag-icon flag-icon-mu"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mv" %>
<span title="mv" class="flag-icon flag-icon-mv"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mw" %>
<span title="mw" class="flag-icon flag-icon-mw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mx" %>
<span title="mx" class="flag-icon flag-icon-mx"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-my" %>
<span title="my" class="flag-icon flag-icon-my"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-mz" %>
<span title="mz" class="flag-icon flag-icon-mz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-na" %>
<span title="na" class="flag-icon flag-icon-na"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-nc" %>
<span title="nc" class="flag-icon flag-icon-nc"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ne" %>
<span title="ne" class="flag-icon flag-icon-ne"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-nf" %>
<span title="nf" class="flag-icon flag-icon-nf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ng" %>
<span title="ng" class="flag-icon flag-icon-ng"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ni" %>
<span title="ni" class="flag-icon flag-icon-ni"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-nl" %>
<span title="nl" class="flag-icon flag-icon-nl"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-no" %>
<span title="no" class="flag-icon flag-icon-no"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-np" %>
<span title="np" class="flag-icon flag-icon-np"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-nr" %>
<span title="nr" class="flag-icon flag-icon-nr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-nu" %>
<span title="nu" class="flag-icon flag-icon-nu"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-nz" %>
<span title="nz" class="flag-icon flag-icon-nz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-om" %>
<span title="om" class="flag-icon flag-icon-om"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pa" %>
<span title="pa" class="flag-icon flag-icon-pa"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pe" %>
<span title="pe" class="flag-icon flag-icon-pe"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pf" %>
<span title="pf" class="flag-icon flag-icon-pf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pg" %>
<span title="pg" class="flag-icon flag-icon-pg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ph" %>
<span title="ph" class="flag-icon flag-icon-ph"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pk" %>
<span title="pk" class="flag-icon flag-icon-pk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pl" %>
<span title="pl" class="flag-icon flag-icon-pl"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pm" %>
<span title="pm" class="flag-icon flag-icon-pm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pn" %>
<span title="pn" class="flag-icon flag-icon-pn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pr" %>
<span title="pr" class="flag-icon flag-icon-pr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ps" %>
<span title="ps" class="flag-icon flag-icon-ps"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pt" %>
<span title="pt" class="flag-icon flag-icon-pt"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-pw" %>
<span title="pw" class="flag-icon flag-icon-pw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-py" %>
<span title="py" class="flag-icon flag-icon-py"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-qa" %>
<span title="qa" class="flag-icon flag-icon-qa"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-re" %>
<span title="re" class="flag-icon flag-icon-re"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ro" %>
<span title="ro" class="flag-icon flag-icon-ro"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-rs" %>
<span title="rs" class="flag-icon flag-icon-rs"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ru" %>
<span title="ru" class="flag-icon flag-icon-ru"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-rw" %>
<span title="rw" class="flag-icon flag-icon-rw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sa" %>
<span title="sa" class="flag-icon flag-icon-sa"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sb" %>
<span title="sb" class="flag-icon flag-icon-sb"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sc" %>
<span title="sc" class="flag-icon flag-icon-sc"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sd" %>
<span title="sd" class="flag-icon flag-icon-sd"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-se" %>
<span title="se" class="flag-icon flag-icon-se"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sg" %>
<span title="sg" class="flag-icon flag-icon-sg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sh" %>
<span title="sh" class="flag-icon flag-icon-sh"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-si" %>
<span title="si" class="flag-icon flag-icon-si"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sj" %>
<span title="sj" class="flag-icon flag-icon-sj"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sk" %>
<span title="sk" class="flag-icon flag-icon-sk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sl" %>
<span title="sl" class="flag-icon flag-icon-sl"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sm" %>
<span title="sm" class="flag-icon flag-icon-sm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sn" %>
<span title="sn" class="flag-icon flag-icon-sn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-so" %>
<span title="so" class="flag-icon flag-icon-so"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sr" %>
<span title="sr" class="flag-icon flag-icon-sr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ss" %>
<span title="ss" class="flag-icon flag-icon-ss"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-st" %>
<span title="st" class="flag-icon flag-icon-st"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sv" %>
<span title="sv" class="flag-icon flag-icon-sv"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sx" %>
<span title="sx" class="flag-icon flag-icon-sx"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sy" %>
<span title="sy" class="flag-icon flag-icon-sy"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-sz" %>
<span title="sz" class="flag-icon flag-icon-sz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tc" %>
<span title="tc" class="flag-icon flag-icon-tc"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-td" %>
<span title="td" class="flag-icon flag-icon-td"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tf" %>
<span title="tf" class="flag-icon flag-icon-tf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tg" %>
<span title="tg" class="flag-icon flag-icon-tg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-th" %>
<span title="th" class="flag-icon flag-icon-th"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tj" %>
<span title="tj" class="flag-icon flag-icon-tj"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tk" %>
<span title="tk" class="flag-icon flag-icon-tk"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tl" %>
<span title="tl" class="flag-icon flag-icon-tl"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tm" %>
<span title="tm" class="flag-icon flag-icon-tm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tn" %>
<span title="tn" class="flag-icon flag-icon-tn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-to" %>
<span title="to" class="flag-icon flag-icon-to"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tr" %>
<span title="tr" class="flag-icon flag-icon-tr"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tt" %>
<span title="tt" class="flag-icon flag-icon-tt"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tv" %>
<span title="tv" class="flag-icon flag-icon-tv"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tw" %>
<span title="tw" class="flag-icon flag-icon-tw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-tz" %>
<span title="tz" class="flag-icon flag-icon-tz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ua" %>
<span title="ua" class="flag-icon flag-icon-ua"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ug" %>
<span title="ug" class="flag-icon flag-icon-ug"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-um" %>
<span title="um" class="flag-icon flag-icon-um"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-us" %>
<span title="us" class="flag-icon flag-icon-us"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-uy" %>
<span title="uy" class="flag-icon flag-icon-uy"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-uz" %>
<span title="uz" class="flag-icon flag-icon-uz"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-va" %>
<span title="va" class="flag-icon flag-icon-va"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-vc" %>
<span title="vc" class="flag-icon flag-icon-vc"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ve" %>
<span title="ve" class="flag-icon flag-icon-ve"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-vg" %>
<span title="vg" class="flag-icon flag-icon-vg"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-vi" %>
<span title="vi" class="flag-icon flag-icon-vi"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-vn" %>
<span title="vn" class="flag-icon flag-icon-vn"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-vu" %>
<span title="vu" class="flag-icon flag-icon-vu"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-wf" %>
<span title="wf" class="flag-icon flag-icon-wf"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ws" %>
<span title="ws" class="flag-icon flag-icon-ws"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-ye" %>
<span title="ye" class="flag-icon flag-icon-ye"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-yt" %>
<span title="yt" class="flag-icon flag-icon-yt"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-za" %>
<span title="za" class="flag-icon flag-icon-za"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-zm" %>
<span title="zm" class="flag-icon flag-icon-zm"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-zw" %>
<span title="zw" class="flag-icon flag-icon-zw"></span>
</div>
<div class="col-md-1">
<%= f.radio_button :flag, "flag-icon flag-icon-eu" %>
<span title="eu" class="flag-icon flag-icon-eu"></span>
</div>

<%= f.radio_button :flag, "flag-icon flaflag-icon-ung-icon-un" %>
          </div>
      <div class="form-group">
        <p>
          <br>
          <label for="">Padrão Utilizado: alpha-2</label>      
          <label for=""><a href="https://www.iso.org/obp/ui/#search/code/">https://www.iso.org/obp/ui/#search/code/</a></label>
        </p>
      </div>
    </div>
  </section>
<div class="form-group">
  <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
</div>
<% end -%>
</div>
