<header id="header-default">
  <div id="nav-header" class="col-md-12 hidden-xs hidden-sm visible-md visible-lg">
    <!-- Menu -->
    <nav class="container-fluid">
      <%= render 'layouts/front/menu_links' %>
    </nav>
    <!-- Menu -->
  </div>
  <div id="wrap-menu-logo">
    <div class="container-fluid">
      <!-- Logo -->
      <h1 id="logo-header" class="col-md-3 col-sm-12">
        <%= link_to home_path, :class => "" do %>
        <%= image_tag 'content/miochef.png', alt: "Miochef" %>
        <% end %>
        <%= link_to home_path, :class => "hidden-md hidden-lg" do %>
        <%= image_tag 'content/miochef-name.png', alt: "Miochef" %>
        <% end %>
      </h1>
      <!-- Logo -->
      <div id="wrap-select-date-food" class="col-md-6 col-sm-12">
        <div class="col-md-12">
          <span>Segunda, 15 de Abr</span>
        </div>
      </div>
      <!-- Menu -->
      <div id="wrap-user-info-cart-header" class="col-md-3 hidden-sm hidden-xs visible-md visible-lg">
        <nav id="user-link">
          <%= render 'layouts/front/menu_links' %>
        </nav>
      </div>
      <!-- Menu -->
      <div id="cart-bar-responsive" class="visible-sm visible-xs hidden-md hidden-lg">
        <%= render 'layouts/front/cart' %>
      </div>
      <div id="active-menu-responsive" class="visible-sm visible-xs hidden-md hidden-lg">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div id="wrap-cep-select-filter">
    <div class="container-fluid">
      <div id="cep-show" class="col-md-3 col-sm-12 block-info-list-prod left hidden-sm hidden-xs">
        <h4>Exibindo para para o CEP:</h4>
        <span id="cep-this">52061-200 (Recife-PE)</span>
      </div>

      <div id="active-filter-menu-xs" class="col-xs-12 visible-xs hidden-sm hidden-md hidden-lg">
        <span>Filtros</span>
      </div>

      <div id="filter-select" class="col-md-7 col-sm-12 block-info-list-prod center">
        <!-- <h4 class="col-md-12">Filtros:</h4> -->
        <!-- block -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="select-filter">
            <span class="filter-title">Chef <span class="quant-itens-show"></span></span>
            <div class="drop">
              <div class="wrap-itens-drop">
                <span data-text="luiz paulo valenca">Luiz Paulo Valença</span>
                <span data-text="educardo cavalcante">Eduardo Cavalcante</span>
              </div>
            </div>
          </div>
        </div>
        <!-- block -->
        <!-- block -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="select-filter">
            <span class="filter-title">Ingradientes <span class="quant-itens-show"></span></span>
            <div class="drop">
              <div class="wrap-itens-drop">
                <span data-text="pimenta">Pimenta</span>
                <span data-text="cebola">Cebola</span>
                <span data-text="pimenta">Pimenta</span>
                <span data-text="cebola">Cebola</span>
                <span data-text="pimenta">Pimenta</span>
                <span data-text="cebola">Cebola</span>
                <span data-text="pimenta">Pimenta</span>
                <span data-text="cebola">Cebola</span>
              </div>
            </div>
          </div>
        </div>
        <!-- block -->
        <!-- block -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="select-filter">
            <span class="filter-title">Características <span class="quant-itens-show"></span></span>
            <div class="drop">
              <div class="wrap-itens-drop">
                <span data-text="sem gluten">Sem Glûten</span>
                <span data-text="vegetariano">Vegetariano</span>
                <span data-text="sem gluten">Sem Glûten</span>
                <span data-text="vegetariano">Vegetariano</span>
                <span data-text="sem gluten">Sem Glûten</span>
                <span data-text="vegetariano">Vegetariano</span>
              </div>
            </div>
          </div>
        </div>
        <!-- block -->
      </div>

      <div id="cart-bar" class="col-md-2 col-sm-12 block-info-list-prod right hidden-xs hidden-sm visible-md visible-lg">
        <%= render 'layouts/front/cart' %>
      </div>

    </div>
  </div>

  <div id="wrap-food-timeline">
    <div class="container-fluid">
      <div class="col-md-10 centralize">
        <h3>Selecione uma Data</h3>
        <div id="wrap-dates-food">
          <ul>
            <li class="active">
              <a href="#" class="date">
                <div class="week">Seg</div>
                <div class="day-week">15</div>
              </a>
            </li>
            <li>
              <a href="#" class="date">
                <div class="week">Ter</div>
                <div class="day-week">16</div>
              </a>
            </li>
            <li>
              <a href="#" class="date">
                <div class="week">Qua</div>
                <div class="day-week">17</div>
              </a>
            </li>
            <li>
              <a href="#" class="date">
                <div class="week">Qui</div>
                <div class="day-week">18</div>
              </a>
            </li>
            <li>
              <a href="#" class="date">
                <div class="week">Sex</div>
                <div class="day-week">19</div>
              </a>
            </li>
            <li>
              <a href="#" class="date">
                <div class="week">Sab</div>
                <div class="day-week">20</div>
              </a>
            </li>
            <li>
              <a href="#" class="date">
                <div class="week">Dom</div>
                <div class="day-week">21</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

