<title>Miochef</title>
<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'bootstrap-reset', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'superfish', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'superfish-vertical', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'jquery.fancybox', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'front-style', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'front-style-responsive', media: 'all', 'data-turbolinks-track' => true %>
	  	
<%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->