<ul>
  <li class="no-menu-outside-right">
    <%= link_to "Sobre", about_path %>
  </li>
  <li class="no-menu-outside-right">
    <%= link_to "Como Funciona", about_path %>
  </li>
  <li class="no-menu-outside-right">
    <%= link_to "Contato", about_path %>
  </li>
  <li class="no-menu-outside-left">
    <%= link_to "Criar Conta", signup_path %>
  </li>
  <li class="no-menu-outside-left">
    <%= link_to "Login", login_path %>
  </li>
</ul>
