<!DOCTYPE html>
<html>
	<%= render 'layouts/front/head' %>
  <body>
  	<%= render 'layouts/front/header' %>
    	<%= yield %>
  	<%= render 'layouts/front/footer' %>
  	<%= javascript_include_tag 'front', 'data-turbolinks-track' => true %>	 
  </body>
</html>