<!DOCTYPE html>
<html>
<%= render 'layouts/front/head' %>
<body>
 <%= render 'layouts/front/responsive_menu' %>
 <div id="wrap-site" class="">
   <%= render 'layouts/front/header' %>
   <%= yield %>
   <%= render 'layouts/front/footer' %>
 </div>
 <script type="text/javascript">
   var base_url = '<%= request.base_url %>';
 </script>
 <%= javascript_include_tag 'front', 'data-turbolinks-track' => true %>
</body>
</html>
