<!DOCTYPE html>
<html>
	<head>
	  	<title>Chefs Market</title>
	  	<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    'bootstrap-reset', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    'jquery.easy-pie-chart', media: 'all', 'data-turbolinks-track' => true %>	  	
	  	<%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    'slidebars', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    'style-responsive', media: 'all', 'data-turbolinks-track' => true %>
	  	
	  	<!-- Advanced Form Components -->
	  	<%= stylesheet_link_tag 'bootstrap-fileupload', media: 'all', 'data-turbolinks-track' => true %>    	
    	<%= stylesheet_link_tag 'datepicker', media: 'all', 'data-turbolinks-track' => true %>
    	<%= stylesheet_link_tag 'timepicker', media: 'all', 'data-turbolinks-track' => true %>
    	<%= stylesheet_link_tag 'colorpicker', media: 'all', 'data-turbolinks-track' => true %>
    	<%= stylesheet_link_tag 'daterangepicker-bs3', media: 'all', 'data-turbolinks-track' => true %>
    	<%= stylesheet_link_tag 'datetimepicker', media: 'all', 'data-turbolinks-track' => true %>

	  	<%= stylesheet_link_tag    'multi-select', media: 'all', 'data-turbolinks-track' => true %>		  	

	  	<%= csrf_meta_tags %>

	  	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	    	<!--[if lt IE 9]>
	      	<script src="js/html5shiv.js"></script>
	      	<script src="js/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<% if user_signed_in? %>
		<section id="container">
			      <!--header start-->
	      	<header class="header white-bg">
	            <div class="sidebar-toggle-box">
	                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
	            </div>
	            <!--logo start-->
	            <a href="index.html" class="logo">Chefs<span> Market</span></a>
	            <!--logo end-->
	            
	            <div class="top-nav ">
	                <!--search & user info start-->
	                <ul class="nav pull-right top-menu">
	                    <!-- <li>
	                        <input type="text" class="form-control search" placeholder="Search">
	                    </li> -->
	                    <!-- user login dropdown start-->
	                    <li class="dropdown">
	                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	                            <!-- <img alt="" src="img/avatar1_small.jpg"> -->
	                            <span class="username"><%= current_user.name %></span>
	                            <b class="caret"></b>
	                        </a>
	                        <ul class="dropdown-menu extended logout">
	                            <div class="log-arrow-up"></div>
	                            <li><a href="/users_admin/<%=current_user.id%>/edit"><i class=" fa fa-suitcase"></i>Perfil</a></li>
	                            <!-- <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
	                            <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li> -->
	                           	<li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
	                        </ul>
	                    </li>
	                    <!-- <li class="sb-toggle-right">
	                        <i class="fa  fa-align-right"></i>
	                    </li> -->
	                    <!-- user login dropdown end -->
	                </ul>
	                <!--search & user info end-->
	            </div>
	        </header>
	        <!--header end-->
	      <!--sidebar start-->
	      <aside>
	          <div id="sidebar"  class="nav-collapse ">
	              <!-- sidebar menu start-->
	              	<ul class="sidebar-menu" id="nav-accordion">
	              		<li>
	              			<% if @module_active == 'dashboard' %>
                      			<a class="active" href="/">
                          			<i class="fa fa-dashboard"></i>
                          			<span>Dashboard</span>
                      			</a>
                      		<% else %>
                      			<a class="" href="/">
                          			<i class="fa fa-dashboard"></i>
                          			<span>Dashboard</span>
                      			</a>
                      		<% end %>
                  		</li>
	                  	<% @categories.each do |category| %>
		                  	<% if category.entities.any? %>
		                  		<% if MenuHelper::userHasPermissionToAnyModuleFromCategory?(current_user,category) %>
				                  	<li class="sub-menu">				                      	
				                      	<a class="<%= MenuHelper::is_active_menu(category,nil,@module_active)%>" href="javascript:;" >
				                          	<i class="<%= category.icon %>"></i>
				                          	<span><%= category.name %></span>
				                      	</a>
				                      	<% category.entities.each do |entity| %>
				                      		<% if MenuHelper::userHasPermissionToModule?(current_user,entity) %>
					                      		<ul class="sub">
					                          		<li class="<%= MenuHelper::is_active_menu(category,entity,@module_active)%>" >
					                          			<a href="/<%= entity.slug %>"><%= entity.name %></a>
					                          		</li>
					                      		</ul>
					                      	<% end %>
					                    <% end %>
				                  	</li>
			                	<% end %>
			                <% end %>
			            <% end %>
	              	</ul>
	              <!-- sidebar menu end-->
	          	</div>
	      	</aside>
	      	<!--sidebar end-->
	      	<!--main content start-->
	      	<section id="main-content">
	          	<section class="wrapper">
	              	<%= yield %>
	          	</section>
	      	</section>
	      	<!--main content end-->
	      	<!-- Right Slidebar start -->      		
      		<!-- Right Slidebar end -->
		</section>
		<% else %>
			<%= yield %>
		<% end %>
	</body>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
  	<script>

      //owl carousel

      	$(document).ready(function() {
          $("#owl-demo").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true,
			  autoPlay:true

          });
      	});

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });
	</script>
</html>




